<doctype html>
    <html>

    <head>

        <link rel="stylesheet" type="text/css" href="style.css">

    </head>

    <body>
        <h1> Title </h1>
        <form>
            <input placeholder="Repository name!">
            <button>button</button>
        </form>
        <p id='name'></p>
    </body>
    <script src="c-app.js"></script>

    </html>