<doctype html>
    <html>
        <head>
            
             <link rel="stylesheet" type="text/css" href="style.css">

             </head>
        <body> 
        <h1> Title {{name}}</h1>
        </body>
        <script src="c-app.js"></script>
    </html>    